html,
body {
   margin:0;
   padding:0;
   height:100%;
}
/*IDs*/
#main{ /* div ID */
	min-height:100%;
	position:relative;
	/*background: white;*/
	margin: auto;
	width: auto;
}

#header{
	background: #008A79;
	color: white;
	margin: auto;
	width: 100%;
	height: 50px;
	position: fixed;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

#body{
	padding:50px;	/* Height of the header */
	padding-bottom:100px;   /* Height of the footer */
}


#area1{
	background-color: tomato;
    color: white;
    padding: 10px;
}


#area2{
	background: #002E33;
	color: white;
    padding: 10px;
}


#footer{
	background: #002E33;
	margin: auto;
	width: 100%;
	height: 100px;
	position:absolute;
	bottom:0;
	/*box-shadow: 0px -3px 5px gray; */

	color: #008A79;
	font-family: sans-serif;
}


/*Classes*/
.center { /*text align config */
    text-align: center;
    padding: 40px;
}
