html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#main{ /* div ID */
	min-height:100%;
	position:relative;
	background: white;
	margin: auto;
	width: auto;
}

#header{
	background: #008A79;
	color: white;
	margin: auto;
	width: 100%;
	height: 50px;
	position: fixed;
	box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

#body{
	padding:10px;
	padding-bottom:100px;   /* Height of the footer */
}

#footer{
	background: #002E33;
	margin: auto;
	width: 100%;
	height: 100px;
	position:absolute;
	bottom:0;
	/*box-shadow: 0px -3px 5px gray; */

	color: #008A79;
	font-family: sans-serif;
}

.center { /*text align config */
    text-align: center;
    padding: 40px;
}
